
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bub's Book Beviews</title>

    <link rel="stylesheet" href="styles/main.css">

    <style>
        header {
            text-align: center;
            margin: 40 auto;
        }
    </style>

</head>


<header>
    <h1> Bub's Book Beviews </h1>
    Hi welcome to Bub's Book reviews. 

    <!-- 
        Add: 
            - Contact information
            - Logo 
            - Images of books 
            - Action buttons -> get random book. 
     -->
</header>