
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bub's Book Beviews</title>

    <link rel="stylesheet" href="/styles/main.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display:ital,wght@1,700&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    
</head>


<header>
    <div class="grey-div"></div>


    <div class="main-header">

    <div class="title">
        <img src="/images/journal.svg" alt="logo" width="100px">  
        <h1> Bub's Book Reviews </h1>
    </div>
    
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/search-page"><li>New Review</li></a>
            <!-- <a href="/search-page"><li>About</li></a> -->

        </ul>
    </nav>

    </div>

    <div class="grey-div bottom"></div>

</header>