


<%- include("partials/header.ejs") %>


<div class="wrapper">

    <a href="/search-page"> <h2>Review a new book</h2> </a>
    


    <div class="reviewed-books">

        <h2>Books Bub has reviewed: </h2>
        <!-- <div class="book">
            <img src="" alt="Book image">
            <h3>Book title</h3>
        </div> -->

    </div>
    <!-- End of .reviewed-books -->
    
</div>
