


<%- include("partials/header.ejs") %>


<main>
    <h2>Search for a book to review: </h2>
    <input type="text">


    <div class="reviewed-books">

        <h2>Books Bub has reviewed: </h2>
        <div class="book">
            <img src="" alt="Book image">
            <h3>Book title</h3>
        </div>

    </div>
    <!-- End of .reviewed-books -->
    
</main>