


<%- include("partials/header.ejs") %>


<div class="wrapper">

    <a href="/search-page"> <h2>Review a new book</h2> </a>
    


    <div class="reviewed-books">

        <h2>Books Bub has reviewed: </h2>

        <% if (locals.books) { %>
            <% books.forEach(book => { %>
                <div class="book">
                    <a href="/review/<%= book.isbn %>"><img src= <%= book.cover_url %> alt="book image"></a>
                    <h3> <%= book.title %> </h3>
                </div>
            <% }) %>
    
        <!-- End of looping through books -->
        <% } %>



    </div>
    <!-- End of .reviewed-books -->
    
</div>
