

<%- include("partials/header.ejs") %>


<div class="wrapper">

    <% if (locals.book) { %>
        <div class="review-container">

            <strong> <%=locals.book.title%> </strong>
            <p> <img src="<%=book.cover_url%>" alt="book.title"> </p>

            <!-- Form for title, review, percentage rating -->
            <label for="review">Write a Review:</label>
            <br>
            <textarea id="review" name="review" rows="4" cols="50" placeholder="Type your review here..."></textarea>
            <br>

            <!-- Other form fields -->

            <input type="submit" value="Submit Review">

        </div>
    <% } else { %>
        <p>Error fetching book. </p>
    <% } %>

</div>