
<%- include("partials/header.ejs") %>

<div class="wrapper">

<h2>Book Search</h2>

<form action="/search" method="get">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter book title">
    <button type="submit">Search</button>
</form>


<div class="books-container">

    <% if (locals.books) { %>
        <% books.forEach(book => { %>
            <div class="book">
                <a href="/review/<%= book.isbn %>"><img src= <%= book.cover_url %> alt="book image"></a>
                <h3> <%= book.title %> </h3>
            </div>
        <% }) %>
    <% } %>
    <!-- End of looping through books -->

</div>
<!-- End of .books-container -->

</div>
<!-- End of .wrapper -->