

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.books-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 2em;

}

.books-container img {
    height: 300px; 
    max-width: 100%;
}


/*************************************************************/
/* Review Page */
/*************************************************************/

.review-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: red;
}