
* {

}


/*************************************************************/
/* Header */
/*************************************************************/

header .main-header {
    text-align: center;
    margin: 35 auto;
    font-family: 'DM Sans', sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
}

header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em; 
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem; 
    position: relative;
}

.grey-div {
    background-color: #333;
    width: 100%;
    height: 2em;
    margin: 0;
}

.bottom {
    margin-bottom: 4em;
}

nav a::before {
    position: absolute;  /* Positions itself relative to "nav ul li a"*/
    content: ""; 
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(122, 122, 122);
    bottom: -6px;

    /* Animate underline width when it is hovered */
    transition: width .3s;
}

nav a:hover:before {
    width: 35%;
}

/*************************************************************/
/* Body */
/*************************************************************/

.wrapper {
    max-width: 1200px;
    
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

.books-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 2em;

}

.books-container img {
    height: 300px; 
    max-width: 100%;
}

.search-btn-2 {
    margin: 3em 0;
}

.search-btn-2 a { 
    background-color: #F1E2D1;
    font-weight: bold;
    font-size: 1.5rem;
    color: black; 
    text-decoration: none;
    border-radius: 1em;
    padding: 1em 2em;
}

.search-btn-2 a{ transition: background-color .5s }
.search-btn-2 a:hover {
    background-color: #E2D1BD;
    /* You can put animation transition here too! */
    /* Nvm, don't do this. It won't animate the other way. */
    /* transition: background-color .5s; */
}


/*************************************************************/
/* Review Page */
/*************************************************************/

.review-container {
    display: flex;
    gap: 2em; 
    justify-content: center;
}

.review-container .right-col {
    text-align: center;
}

.review-container .submit-button {
    background-color: #2ecc71;
    color: white;
    padding: 1em 1em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.review-container .submit-button:hover {
    background-color: #27ae60;    
}


/*************************************************************/
/* View Page - viewing a single review */
/*************************************************************/

.view-container {
    display: flex;
    justify-content: center;
    gap: 2em; 
    margin-bottom: 3em;
}


.view-container .left-col {
    text-align: center;

}

.view-container .right-col {
    padding: 1em;
}

.cta-buttons {
    padding-top: 5px;
}

.cta-buttons a {
    margin: 1em 0;
    text-decoration: none;
    color: white;
    position: relative;

    padding: 0.5em 1em;
    border-radius: 5px;
}

.cta-buttons .edit-cta {
    background-color: #007bff;    
}

.cta-buttons .delete-cta {
    background-color: #e74c3c;
}


/*************************************************************/
/* Footer */
/*************************************************************/

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 2em 0;
    margin-top: 2em;
    /* 
    width: 100%; */
}